@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --border-yellow-hex: #fed302;
  --background-gray-hex: #f5f6fa;
  --font-title-black: #060606;
  --button-red-hex: #e4051a;
  --button-red-hex-l: #fa263a;
  --field-background: #e6e8ec;
  --field-border: #707070;
  --background-gray-l-hex: #c6c6c6;
  --field-label: #474546;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

html,
body {
  padding: 0;
  margin: 0;
  font-family: dana, tahoma, serif;
  position: relative;
  background: #f5f6fa;
}

@supports (font-variation-settings: normal) {
  body {
    font-family: "dana VF", tahoma, serif;
    font-variation-settings: "FANU" 1;
  }
  * {
    font-family: "dana VF", tahoma, serif;
  }
}

body {
  width: 100%;
  scroll-behavior: smooth;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1 1 100% !important;
  font-family: dana, tahoma, serif;
}
