@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('./font.css');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --border-yellow-hex: #fed302;
  --background-gray-hex: #f5f6fa;
  --font-title-black: #060606;
  --button-red-custom: #e4051a;
  --button-red-custom-l: #fa0b21;
  --button-green-custom: #00b862;
  --button-green-custom-l: #00d973;
  --button-orange-custom: #ffb95c;
  --button-orange-custom-l: #ffc06c;
  --field-background: #e6e8ec;
  --field-border: #707070;
  --background-gray-l-hex: #c6c6c6;
  --field-label: #474546;
  --field-disabled: hsl(0, 0%, 95%);
  --border-radius_1: 1rem;
}

body {
  padding: 0;
  margin: 0;
  font-family: dana, tahoma, serif;
  position: relative;
  background: #f5f6fa;
}
* {
  font-family: dana, tahoma, serif;
}

@supports (font-variation-settings: normal) {
  body {
    font-family: "dana VF", tahoma, serif;
    font-variation-settings: "FANU" 1;
  }
  * {
    font-family: "dana VF", tahoma, serif;
    font-variation-settings: "FANU" 1;
  }
}

@layer utilities {
  .label_border_radius {
    border-radius: 0 0.5rem 0.5rem 0;
  }

  .active_button {
    color: white;
    background-color: var(--button-red-custom);
  }

  .place_holder_disabled::placeholder {
    color: hsl(0, 0%, 50%);
    /* color: red; */
  }
}

/* .a {
  color: #fed302;
}
.a {
  color: #f5f6fa;
}
.a {
  color: #e4051a;
}
.a {
  color: #e6e8ec;
}
.a {
  color: #ffffff;
}
.a {
  color: #d1d1d1;
}
.a {
  color: #00b862;
}
.a {
  color: #ffb95c;
}
.a {
  color: #060606;
}
.a {
  color: #474546;
}
.a {
  color: #b8b8b8;
}
.a {
  color: #ffffff;
}
.a {
  color: #060606;
} */
